@model Cezar
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Deszyfrowanie</h1>
</div>
<div>
    <form action="deszyfr" method="get">
        <div>
            <label for="input">Wpisz tekst do odszyfrowania:</label>
        </div>
        <div>
            <textarea class="form-control" type="text" name="text" cols="50" id="text" name="text" rows="2"></textarea>
        </div>

        <label for="key">Wybierz przesunięcie:</label>
        <select class="form-control" type="number" name="klucz" id="klucz">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>23</option>
            <option>24</option>
            <option>25</option>
            <option>26</option>            
        </select>
        <br />
        <button class="btn btn-primary" type="submit">Odszyfruj</button>
    </form>
    <hr class="solid" />
    <h6>odszyfrowany text:</h6>
    <p>@Model.odszyfruj()</p>

</div>


